@import "../../node_modules/antd/dist/antd";

.mxcn-resize {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    min-height: 500px;

    svg text {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    svg text::selection {
        background: none;
    }
    .x6-widget-selection-inner {
        border: unset;
        box-shadow: unset;
    }
}
